.slide-full {
    height: 100%;
}

ion-content {
    // --background: #c7c7c7cc;
    --background: #1a237e;
}

ion-card {
    overflow: unset !important;
    background: transparent;
    // background-color: rgba(255, 255, 255, 0.267);
    color: rgb(255, 255, 255);
    border-radius: 40px;
    height: 500px; // altura
    width: 320px; // ancho
}

ion-card-title {
    color: rgb(255, 255, 255);
}

.slide-image {
    width: 180px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: -30px;
}

ion-card-header {
    position: relative;
    top: -20px;
    ;
}

ion-card-content {
    position: relative;
    top: -20px;
}

ion-button {
    color: white;
    height: 100%;
    width: 100%;
    font-size: 20px;
    font-style: inherit;
}