<app-header titulo="consulta"></app-header>

<ion-content>
    <div>
        <ion-img class="logo" src="/assets/logo.png"></ion-img>
    </div>

    <ion-card mode="ios">
        <ion-img class="imgCard" src="/assets/consultar.svg"></ion-img>
        <ion-card-header class="ion-text-center">
            <ion-card-title>Consulta de Avería</ion-card-title>
        </ion-card-header>

        <ion-card-content class="ion-text-center">
            <h2>
                Introduzca el número de teléfono asociado a su avería con su respectivo código de área, para consultar su ticket
            </h2>
        </ion-card-content>
    </ion-card>

    <div>
        <form>
            <ion-item>
                <ion-label position="floating">Número a Consultar</ion-label>
                <ion-input type="number" [formControl]="abonado"></ion-input>
            </ion-item>
            <div class="ion-text-center" *ngIf="abonado.errors && abonado.touched">
                <small *ngIf="abonado.hasError('required')">El número es requerido</small>
                <small *ngIf="abonado.hasError('pattern')">coloca un número correcto</small>
            </div>

        </form>

    </div>

    <br>
    <div class="ion-text-center fade-in">

        <ion-button [disabled]="abonado.invalid" type="button" (click)="queryAbonado($event)">Consultar</ion-button>

    </div>


</ion-content>




<app-footer></app-footer>